<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="./styles.css">
</head>
<body>
	<div class="wrap">
		<ul>
			<li><%= @stock.symbol %></li>
			<li><%= @stock.exchange %></li>
			<li><%= @stock.id %></li>
			<li><%= @stock.t %></li>
			<li><%= @stock.e %></li>
			<li><%= @stock.name %></li>
			<li><%= @stock.f_reuters_url %></li>
			<li><%= @stock.f_recent_quarter_date %></li>
			<li><%= @stock.f_ttm_date %></li>
			<li><%= @stock.kr_annual_date %></li>
			<li><%= @stock.kr_ttm_date %></li>
			<li><%= @stock.c %></li>
			<li><%= @stock.l %></li>
		</ul>
	</div>
</body>
</html>